<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BICICLETA</title>
   
</head>

<body>
    <h1>GRUPOS</h1>

    <div th:if="${not #lists.isEmpty(grupos)}">
        <h2>
            Grupos que hay:
        </h2>
        <p>
            A continuación se muestran los grupos en la aplicación.
        </p>
        <table>
            <tr>
                <th>Id</th>
                <th>Fecha Salida: </th>
 				<th>Fecha Creación: </th>
                <th>Aforo max: </th>
            </tr>
            <tr th:each="grupo : ${grupos}">
                <td th:text="${grupo.id_grupo}"></td>
                <td th:text="${grupo.fecha_salida}"></td>
 				<td th:text="${grupo.fecha_creacion}"></td>
                <td th:text="${grupo.aforo_max}"></td>
            </tr>
        </table>
    </div>

 <h2>Añadir grupo: </h2>
    <form action="/grupo/agregar" method="post">
        <div>
            <label for="fecha_salida">Fecha de salida: </label>
            <input th:name="fecha_salida" id="fecha_salida" name="fecha_salida" placeholder="Escribe la fecha de salida" type="date">
			<label for="hora_salida">Hora de salida: </label>
            <input th:name="hora_salida" id="hora_salida" name="hora_salida" placeholder="Escribe la hora de salida" type="time">        
		</div>

       <table>
            <tr>
                <th>Id</th>
				<th>nombre</th>
                <th>Fecha Salida: </th>
            </tr>
            <tr th:each="r : ${rutas}">
                <td th:text="${r.id_ruta}"></td>
                <td th:text="${r.nombre}"></td>
				<td th:text="${r.descripcion}"></td>
            </tr>
        </table>

        <div>
            <label for="aforo_max">Aforo máximo: </label>
            <input field="*{aforo_max}" id="aforo_max" name="aforo_max" placeholder="Escribe total de personas..." type="number">
        </div>
        
        <div>
            <label for="id_ruta">Elige una ruta: </label>
            <input field="*{id_ruta}" id="id_ruta" name="id_ruta" placeholder="Elige ruta" type="text">
        </div>
        <button type="submit">Guardar</button>
    </form>


    
</body>

</html>