<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BICICLETA</title>
</head>
<body>
    <h1>REGISTRO DE USUARIOS: </h1>
    <h2>Añadir Usuario: </h2>
<form action="/usuarios/agregar" method="post">
    
    <div>
        <label for="nombre">Nombre</label>
        <input field="*{nombre}" id="nombre" name="nombre" placeholder="Escribe el nombre " type="text">
    </div>
    <div>
        <label for="apellidos">Apellido</label>
        <input field="*{apellidos}" id="apellidos" name="apellidos" placeholder="Escribe los apellidos" type="text">
    </div>
    <div>
        <label for="telefono">Teléfono</label>
        <input field="*{telefono}" id="telefono" name="telefono" placeholder="Escribe el telefono" type="text">
    </div>
    <div>
        <label for="ciudad">Ciudad</label>
        <input field="*{ciudad}" id="ciudad" name="ciudad" placeholder="Escribe la ciudad" type="text">
    </div>
    <div>
        <label for="bicicleta">Bicicleta</label>
        <input field="*{bicicleta}" id="bicicleta" name="bicicleta" placeholder="Escribe la bicicleta" type="text">
    </div>
    <div>
        <label for="edad">Edad</label>
        <input field="*{edad}" id="edad" name="edad" placeholder="Escribe la edad" type="number">
    </div>

    <p>Selecciona tu sexo</p>
    <div>
        <input field="*{sexo}" type="radio" id="masculino" name="sexo" value="1" checked>
        <label for="masculino">Masculino</label>
    </div>

    <div>
        <input field="*{sexo}" type="radio" id="femenino" name="sexo" value="2">
        <label for="femenino">Femenino</label>
    </div>

    <div>
        <label for="foto">Foto</label>
        <input field="*{foto}" id="foto" name="foto" placeholder="Escribe la url de la foto" type="text">
    </div>
    <div>
        <label for="nick">nick</label>
        <input field="*{nick}" id="nick" name="nick" placeholder="Escribe tu nick" type="text">
    </div>
    <div>
        <label for="contrasena">Contraseña</label>
        <input field="*{contrasena}" id="contrasena" name="contrasena" placeholder="Escribe la contraseña" type="password">
    </div>
    <button type="submit">Guardar</button>
</form>
</body>
</html>

